<h1> Listing Accounts </h1>
  <%= javascript_tag  do%>
     window.users = <%= @users.html_safe %>
  <% end%>


<div id="app-container">
    <button id="new-account">Create account</button>
    <%= form_for :users, :html => {:id => "save-account"} do %>
            <input name="name" type="text" placeholder="Enter a name"/>
            <input name ="age" type="text" placeholder="Enter age"/>
            <input type="Submit" value="Save account">
    <% end %>
    <table id='account-lists' style="width:200px"></table>
</div>

<style type="text/css">
  #page-container {
    margin: 0 auto;
    padding: 10px;
    width: 800px;  
    border: 1px solid red;
    background-color: #ffffff;
    min-height: 900px;
  }
  body {
    background-color: #c2c2c2;
  }
  #account-lists {
      margin: 10px;
  }
  #account-lists td {
      border: 1px solid black;
  }
</style>
