  <%= javascript_tag  do%>
     window.users = <%= @users.html_safe %>
  <% end%>
  
<%= render "shared/header" %>
<h1> Listing Accounts </h1>
<div id="app-container">
    <button id="new-account">Create account</button>
    <%= form_for :users, :html => {:id => "save-account"} do %>
            <input name="name" type="text" placeholder="Enter a name"/>
            <input name ="age" type="text" placeholder="Enter age"/>
            <input type="Submit" value="Save account">
    <% end %>
    <table style="width:200px">
      <thead>
          <tr>
            <th> ID </th>
            <th> Name </th>
            <th> Age </th>
            <th> Delete </th>
            <th> Follow </th>
            <th> Events </th>
          </tr>
      </thead>
      <tbody id='account-lists'></tbody>
    </table>
</div>
