<!DOCTYPE html>
<html>
<head>
  <title>SampleAr</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= requirejs_include_tag "events-main" %>
  <%= csrf_meta_tags %>  
</head>
<body>
<div id="page-container">
    <%= yield %>
</div>
</body>
</html>
